<div class="card">
  <h1 class="text-center mt-5">Recuperar Contraseña</h1>

  <mat-form-field class="ml-5 mr-5 mt-5">
    <mat-label>Correo electr&oacute;nico</mat-label>
    <input type="text" matInput placeholder="Correo electr&oacute;nico">
  </mat-form-field>

  <mat-form-field class="ml-5 mr-5">
    <mat-label>Pregunta de Emergencia</mat-label>
    <input type="text" matInput placeholder="Respuesta de emergencia">
  </mat-form-field>

  <mat-form-field class="ml-5 mr-5">
    <mat-label>Nueva Contraseña</mat-label>
    <input type="text" matInput placeholder="Nueva Contraseña">
  </mat-form-field>

  <div class="p-4 text-center">
    <button mat-flat-button color="primary">
      <mat-icon>save</mat-icon>
      Guardar
    </button>
  </div>

  <div class="flex justify-content-end p-2">
    <a routerLink="/auth/login" class="btn btn-sm btn-success">Tengo cuenta</a>
    </div>
</div>
